---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Bring Your Own Technology",
    description:
      "Whatever your stack, we will help you optimise and deliver. We are experts in React, Vue, Angular, Svelte, and more.",
    icon: "mdi:handshake",
  },
  {
    title: "100% Satisfaction, No Bullshit",
    description:
      "We are a small team of experts. We don't have a sales team, and we don't have a marketing team. We are here to help you.",
    icon: "mdi:feather",
  },
  {
    title: "On-Demand Support",
    description:
      "Need some JS? Need some WordPress help? Need some design help? We are here to help you. CI/CD, SEO, AI, Analytics we got you covered.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Broad Integration",
    description:
      "We integrate with your existing tools and services. We build bespoke integrations for your business. B2B, B2C, B2B2C, services all delivered!.",
    icon: "mdi:graph",
  },
  {
    title: "Web Hosting/ Cloud Hosting",
    description:
      "We can help you with your hosting needs and your cloud hosting needs.be it serverless or CDN requirements. Kubernetes or Search Engine Optimisation.",
    icon: "mdi:search-web",
  },
  {
    title: "Security",
    description:
      "We prioritize security and privacy. CyberSecurity threats, Payment Solutions, Authorization and Authentication needs, we got you covered. We can also work together to meet your GDPR needs.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Services" id="services">
  <Fragment slot="lead">
    We come with all <span class="text-primary">batteries included</span>. We takes
    the best parts of
    <span class="text-primary">state-of-the-art</span>
    tools and add our own <span class="text-primary">innovations</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
